    <div class="chat-header">
      <div class="left-header">
        <div class="header-title">
          <%= @room.name %>
        </div>
      </div>
      <div class="right-header">
        <div class="header-button">
          <%= link_to "チャットを終了する", room_path(@room), method: :delete %> <%#destroyアクション動かすlink_toを、_main_chat.html.erbに設定 %>
          <%# 削除するチャットルームを区別するために、定義している@roomを引数にし、room_path(@room)と指定 %>
          <%# HTTPメソッドのdeleteを指定すると、roomsコントローラーのdestroyアクションが実行 %>
        </div>
      </div>
    </div>
    <div class="messages">
      <%= render partial: 'message', collection: @messages %>
    </div>
    <%# form_withでビューファイルからコントローラーに値を送信する準備をする %>
    <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>  <%#messagesのroutingがroomにnestされている為⇨[@room, @message]%>
      <div class="form-input">
        <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: 'hidden' %>
        </label>
      </div>
      <%= f.submit '送信', class: 'form-submit' %>
    <% end %>